.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative; 
  overflow: hidden;/* Adicionamos uma posição relativa */
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background: linear-gradient(45deg, #f0f0f0, #005eff, #0044ff, #0000ff);
  background-size: 400% 400%;
  animation: gradient 5s alternate infinite;
  z-index: -1; /* Coloca a camada abaixo do conteúdo */
}

.logo{
  max-width:100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.input-container {
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
  border-style: inset;
  min-width:500px;
  border-radius: 15px;
  box-shadow: 5px 8px 6px rgba(66,66,66,.35);
  text-shadow: 1px 0px 9px rgba(0,54,255,.66);
}

input {
  padding: 0.5rem;
  font-size: 16px;
  display: flex;
  margin-bottom: 1rem;
  font-size: 16px;
  border-width: 5px;
  border-color: #000fff;
  background-color: #ffffff;
}

body {
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
}

button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: #ffee00;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  margin-top:5px;
}

.resistor-container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.resistor-bands-container {
  border: 5px solid black;
  margin: 1px;
  margin-top:10%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(115, 110, 110, 0.486);
}

.resistor-bands-container::before,
.resistor-bands-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: black;
}

.resistor-bands-container::before {
  left: -30px;
  rotate:calc(90deg)
}

.resistor-bands-container::after {
  right: -30px;
  rotate:calc(90deg)
}

.first-resistor-band {
  margin-left: 15px;
  z-index: 9999;
  height: 50px;
  width: 10px;
  right: 5px;
}
  
.second-resistor-band {
  z-index: 9999;
  height: 50px;
  width: 10px;
}
  
.third-resistor-band {
  z-index: 9999;
  height: 50px;
  width: 10px;
  margin-right: 50px;
}

.tolerance-resistor-band {
  z-index: 9999;
  height: 50px;
  width: 10px;
  margin-right: 20px;
}

.unique-resistor-band{
  z-index: 9999;
  height: 50px;
  width: 10px;
  margin-left:195px;
}